/*body{
    background-color:yellow;
    background-image:url(../img.jpg) ;
}

    @media only screen and (min-width: 400px)
    body {
      background-image:url(../dis.jpg) ;
    } 
     
img{
  width: 50%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
}*/

body {
  background-repeat: no-repeat;
  background-image: url('../image/dis.jpg'); 
  background-size: 50%;
}


@media only screen and (min-width: 600px) {
  body{
    background-color: yellow;
     background-image: url('../image/img.jpg'); 
     background-size: 50%;
  }
}
