body{
    color:light blue;}
        table{background-color:rgb(255,199,271) ;
        font-family:cursive;
        width:80%;
        border-style: inset;
        outline-style: dotted;
        outline-offset: 19px;

        margin: 120px 140px;
    }
        th{
            color:green;
        font-size:65%;
    text-align: left;}
        td{color:white;
        font-size:100%;
        text-align: center;
    }
        /*h1{text-align:center;
        color:orange;

    }*/
div{
    height: 20px;
    max-width: 50%;
    outline-style: dotted;
;

}
    p.mix{border-style: dotted dashed double solid ;
   }
    div.sticky{
        position: -webkit-sticky;
        position: sticky;
        top: 10%;
        padding: 5px;
        background-color: blue;
        border-style: ridge;}
h1{
    text-align: center;
    text-decoration-line: line-through;
    text-decoration-color: black;
    text-decoration-style: dotted;
}
a{
    text-decoration: none;
}
img{
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 9;
}