.main-class1, .main-class2{
}

.left{
    background-color: blue;
    height:50vh;
    width:45vw;
}
.right{
    background-color: rgb(31, 245, 12);
    height:50vh;
    width:80vw;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 20%;
}
.one, .two, .three, .four{
    border: 1px solid black;
    height:10px;
    width: 30px;
    margin: 10px;
    
}

#btn{
    transition: 2s;
}

#btn:hover{
    transform: translateY(-50px);
}