ul.a {
 list-style: square inside url("sqpurple.gif");
 list-style-position: inside ;
 display: inline;
 }
 ul.b {
list-style:armenian;
list-style-position: outside;
}

  li{
    display: inline;
  }
  h3.hidden {
    visibility: hidden;
  }
  
  div ~ p {
    background-color: yellow;
  }
  p{
    background-color: blueviolet ;
  }
  .p1{
    background-color: aquamarine;
  }
  .p2{
    background-color: blue !important;
  }